__pycache__/
pvops/text/__pycache__/
pvops/text2time/__pycache__/
examples/*.npy
docs/_build/
.pytest_cache/
*.py[cod]
examples/analysis/
examples/.ipynb_checkpoints/
*~
pvops/.vscode/
pvops/text2time/.vscode